xmlFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EncryptionResults" type="EncryptionResultsType"/>
  <xs:complexType name="EncryptionResultsType">
    <xs:sequence>
      <xs:element type="xs:string" name="algorithmName" minOccurs="0"/>
      <xs:element type="xs:string" name="fileName"/>
      <xs:element type="xs:string" name="filePath"/>
      <xs:element type="xs:string" name="eventType"/>
      <xs:element type="xs:byte" name="processTime"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="operationType"/>
  </xs:complexType>
</xs:schema>